.wrapper {
	border: var(--border-heavy);
	background: #fff;
	padding: 2rem 1rem;
	text-align: center;
}

.title {
	font-size: 32px;
	margin-bottom: 0.5rem;
}

.text {
	font-family: var(--font-mono);
	font-size: 15px;
	color: var(--pink-600);
	margin: 0 0 1rem;
}